<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<a th:href="@{/signout}" class="btn btn-warning">Logout</a>
<a class="btn btn-success" th:href="@{/emp}">EMP PAGE</a>
</nav>
<div class="container">
<div class="card">
<div class="card-header bg-primary text-white text-center">

<h3> WELCOME TO ALL AFTER LOGIN(COMMON PAGE)</h3>




</div>
</div>
</div>
</body>
</html>